html, body, ul, li{
	margin: 0; /*что бы не бло пустот по бокам страницы*/
	padding: 0;
}

.wrapper{
	max-width: 1920px;
	margin: 0 auto;
	height: inherit;
	display: flow-root; 
	/*overflow:hidden;*/
}

.header{
	background:#eee;
	height: 80px;
	font-size: 18px;
	/*border: 5px solid red; */
	margin: 0 auto;
	line-height: 80px;
	
	
}

.header li{
	/*display: inline;*/
	list-style-type: none;
	margin-left: 40px;
	font-size: 24px;
	text-decoration: none;
	color: #000;
	/*background: #F28494;  light pink*/
	/*overflow:hidden;*/
	float: right;
	
}
 

  li a{
	color: inherit;
	text-decoration: none;
	color: #000;
	}
 
 .top {
	 /*margin-right:65%;*/
	 float: left; 
	 font-weight: bold;
 }
 
 .content{
	background:#eee; /* gray*/
	min-height: 400px;
	/*padding: 30px 5px;
	/*overflow: hidden;*/
	/*height: inherit;*/
	/*margin: 0 auto;*/
	/*border: 5px solid green; */
}

.content .text{
	font-size: 35px;
	/*text-transform: uppercase; /* All letters are capital */
	/*max-width: 500px;*/
    font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #F28494;
	/*margin-right:-300px;*/
 	/*opacity: 0.5;*/
	position: absolute;
	top: 300px;
	/*left: 20px;*/
	/*background-color: clear;
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
}
	

span{
	font-size: 30px;
	text-transform: uppercase;
}

 .content .right img{
	background:#F28494; /* light pink*/
	width: 1200px;
	margin-left:20.5%;
	display: block;
 
	}
.content .wrapper_for_content {
	max-width: 1920px;
	/*position: relative;*/
	/*margin: auto 0;*/
	width: inherit;
	margin: 0 auto;
	height: inherit;
	/*display: flow-root; */
	display: block;
}

.content .item {
    /*width: 400px;*/
    /*background: #f90; orange*/
    padding: 100px 90px 10px;
	/*float: left;*/
	/*display: inline-block;*/
	/*box-sizing: padding-box;*/
	
    
}
 

.content .item img{
	width: 300px;
	box-sizing: border-box;
	justify-content: center;
	/*margin: 0 auto;*/
}

.content .line{
	display: flex;
	max-width: 1920px;
	/*align-items: center; */
	justify-content: space-between;
	padding: 0 0;
	background: #fff;
  /*align-items: center; 
   justify-content: center;
  float: left;
  justify-content: center;*/
}

.content .line a{
	color: inherit;
	text-decoration: none;
	color: #000;
}



.footer{
	background: url(../img/background_footer.jpg) no-repeat center;
	background-size:cover;
	max-width: 1920px;
	height: 300px;
	/*border: 5px solid blue;*/
	margin: 0 auto;
}

.wrapper_for_footer{
	background: rgba(0, 0, 0, 0.7);
	background-size:cover;
	height: inherit;
	max-width: 1920px;
	display: block;
	
}

.footer p, ul{
	color: #FFF;
	font-size: 18px;
	margin: 0 20px;
	/*margin:0;
	padding:0;*/
}

.footer li{
	list-style-type: none;
}

.form{
	background:#ccc6c0;
	border: 3px solid #ccc6c0;
	height:35px;
	font-size: 18px;
	color: #fff;
}

.button{
	background:#6b1800;
	border: 3px solid #6b1800;
	height:35px;
	font-size: 18px;
	color: #fff;
}

.wrapper_for_method{
	margin: 0 10px;
	/*border: 3px solid red; */
	
}

 
::placeholder {  /*это атрибут, поэтому ::*/
  color: #fff;
}
